
.container {
    font-family: "Poppins";
    padding: 1.2rem;
  
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.mainContainer_left{
    flex: 0.5;

}
.mainContainer_right {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer_right img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 12px;
}


.mainContainer_left > P:nth-child(1){
    font-size: 2.7rem;
    background: -webkit-linear-gradient(45deg, #000000, #b2b2b2);
    background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}



.mainContainer_left > P:nth-child(2){
    color: #4D4D4D;
    font-size: 1.5rem;
}

.mainContainer_left > div.buttonJoin {
    width: fit-content;
    cursor: pointer;
    user-select: none;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    background: #ef233c;
    /* background: rgb(150, 33, 61); */
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 20px;
}



    
 @media (max-width: 992px) {
       .mainContainer {
        flex-direction: column;
         text-align: center;
         gap: 2rem;
        }
    
            .mainContainer_left,
            .mainContainer_right {
                flex: 1;
                /* width: 100%; */
            }
    
            .mainContainer_left>div.buttonJoin {
                font-size: 1.1rem;
                margin-top: 0.6rem;
                margin-inline: auto;
                padding-inline: 0.8rem;
                padding-block: 0.4rem;
            }
    
            .mainContainer_left>p:nth-child(1) {
                font-size: 2rem;
            }
    
            .mainContainer_left>p:nth-child(2) {
                font-size: 1.2rem;
            }
        }
 
    
        @media (max-width: 576px) {
            .container {
                padding: 1rem;
            }
    
            .mainContainer {
                margin-top: 1.5rem;
                gap: 1.5rem;
            }
    
            .mainContainer_left>p:nth-child(1) {
                font-size: 1rem;
                line-height: 1.3;
            }
    
            .mainContainer_left>p:nth-child(2) {
                font-size: 1rem;
            }
    
            .mainContainer_left>div.buttonJoin {
                font-size: 1rem;
                padding-inline: 1rem;
                padding-block: 0.5rem;
            }
        }